<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.javacodegeeks.examples.logbackexample.beans" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="INFO"> <!-- Set to INFO if you run PerfVersusJettyTest -->
		<appender-ref ref="STDOUT" />
	</root>
</configuration>